.tab-app{
  //width: 920px;
  width: 95%;
  margin-top: 10px;
}
.page-item.active .page-link {
  z-index: 1;
  color: #000;
  background-color: #dee2e6;
  border-color: #dee2e6;
}

/*

@media screen and (min-width: 415px) and (max-width: 919px) {
  .tab-app{
    width: 580px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 412px) and (max-width: 414px) {
  .tab-app{
    width: 380px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 376px) and (max-width: 411px) {
  .tab-app{
    width: 380px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .tab-app{
    width: 340px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .tab-app{
    width: 300px;
    margin-top: 10px;
  }
}
*/

