.tab-app{
  width: 920px;
}

@media screen and (min-width: 415px) and (max-width: 769px) {
  .tab-app{
    width: 580px;
  }
}

@media screen and (min-width: 412px) and (max-width: 414px) {
  .tab-app{
    width: 380px;
  }
}

@media screen and (min-width: 376px) and (max-width: 411px) {
  .tab-app{
    width: 380px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .tab-app{
    width: 340px;
  }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .tab-app{
    width: 300px;
  }
}